#!/bin/sh

PRINTER="{{ printer_host }}"
COMMUNITY="public"

TONER_OID="{{ toner_oid }}"
DRUM_MAX_OID="{{ drum_max_oid }}"
DRUM_LEVEL_OID="{{ drum_level_oid }}"

toner=$(
  /usr/bin/snmpget -v2c -c "$COMMUNITY" -Oqv "$PRINTER" "$TONER_OID" 2>/dev/null
)
drum_max=$(
  /usr/bin/snmpget -v2c -c "$COMMUNITY" -Oqv "$PRINTER" "$DRUM_MAX_OID" 2>/dev/null
)
drum_level=$(
  /usr/bin/snmpget -v2c -c "$COMMUNITY" -Oqv "$PRINTER" "$DRUM_LEVEL_OID" 2>/dev/null
)

case "$toner" in
  ''|*[!0-9]*) toner=-1 ;;
esac

case "$drum_max:$drum_level" in
  *[!0-9:]*|:*|*:) drum=-1 ;;
  *)
    if [ "$drum_max" -gt 0 ]; then
      drum=$((drum_level * 100 / drum_max))
    else
      drum=-1
    fi
    ;;
esac

echo 'ATTR: marker-names="Black Toner Cartridge","Drum Unit"' >&2
echo 'ATTR: marker-types=toner,opc' >&2
echo 'ATTR: marker-colors=#000000,none' >&2
echo 'ATTR: marker-low-levels=10,10' >&2
echo 'ATTR: marker-high-levels=100,100' >&2
echo "ATTR: marker-levels=${toner},${drum}" >&2

exec "{{ brlaser_filter }}" "$@"
