[Unit]
Description=Daily Paperless document export

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
RandomizedDelaySec=10m
Unit=paperless-export.service

[Install]
WantedBy=timers.target
