RUN_MODE = prod

[database]
TYPE = sqlite3
PATH = {{ gogs_install_path }}/data/gogs.db

[repository]
ROOT = /home/git/repositories
DEFAULT_BRANCH = main

[server]
DOMAIN = git.home.arpa
HTTP_PORT = 80
EXTERNAL_URL = http://git.home.arpa/

[session]
PROVIDER = file

[log]
MODE = console
LEVEL = Info

[security]
INSTALL_LOCK = true
SECRET_KEY = {{ gogs_secret_key.stdout }}
