[Unit]
Description=Daily Gogs backup

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
RandomizedDelaySec=10m
Unit=gogs-backup.service

[Install]
WantedBy=timers.target
