[Unit]
Description=Gogs Git service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=git
Group=git
WorkingDirectory={{ gogs_install_path }}
Environment=HOME=/home/git
Environment=USER=git
ExecStart={{ gogs_install_path }}/gogs web
Restart=on-failure

[Install]
WantedBy=multi-user.target
